@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: var(--main);
    margin: 0;
    height: 100vh;
}

body > *, input, button {
    font-family: "Poppins", monospace;
}

input:focus {
    outline: none;
}

button {
    font-family: "Poppins", monospace;
}

button:hover {
    cursor: pointer;
}

:root {
    --main: white;
    --btn-hover: rgba(219, 219, 219, 0.5);
    --header: rgb(60, 60, 60);
    --submit-btn: rgb(141, 244, 116);
    --submit-btn-hover: rgb(190, 253, 190);
    --cancel-btn: rgb(244, 116, 116);
    --cancel-btn-hover: rgb(253, 190, 190);
}

.container {
    width: 100%;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    background: var(--header);
    color: white;
}

.pg-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* height: 100%; */
}

.sidebar, .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    /* width: 500px;    */
    /* border: 1px solid; */
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid;
}

.sidebar button, .projects button {
    width: 100%;
    background: none;
    border: none;
    height: 70px;
    font-size: 20px;
}

.sidebar button:hover {
    background: var(--btn-hover);
}

.task-page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 1px solid; */
    /* height: 100%; */
    align-items: center; 
}

.tasks-container {
    width: 100%;
}

.task-btn {
    border: none;
    font-size: 1.5em;
    width: 100%;
    background: none;
}

.task-wrapper {
    display: flex;
    background: rgba(234, 234, 234, 0.409);
    justify-content: center;
    width: 100%;
    align-items: center;
    border: none;
    font-size: 20px;
    gap: 10px;
}

.task-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.proj-btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.add-task-btn {
    background: none;
    width: 100px;
    border: none;
    height: 50px;
    font-size: 30px;
}

.add-task-btn:hover {
    background: var(--btn-hover);
}

.proj-input-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.proj-input-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
}

.proj-remove-btn {
    background: pink;
}

.proj-remove-btn:hover {
    background: rgb(255, 14, 14);
}

.proj-input {
    /* width: 100%; */
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.proj-submit-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.proj-submit {
    /* width: 100px; */
    height: 50px;
    font-size: 20px;
    /* background: rgb(141, 244, 116); */
}

.task-input, .date-input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.task-submit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    background: rgb(120, 240, 120);
}

.task-submit:hover {
    background: rgb(167, 245, 167);
}

.task-cancel {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    background: rgb(240, 120, 120);
}

.task-cancel:hover {
    background: rgb(245, 167, 167);
}